body{
	padding-top: 2%;
	background: #EEF2F6;
}

h1{
	color: #386db1;
	font-size: 55px;
	margin-left: 5%;
	font-family: Calisto MT,Bookman Old Style,Bookman,Goudy Old Style,Garamond,Hoefler Text,Bitstream Charter,Georgia,serif;
}

p{
	margin-left: 5%;
	text-align: justify;
	width: 57%;
	font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;
}

h2{
	color: #386db1;
	font-size: 45px;
	margin-left: 5%;
	font-family: Calisto MT,Bookman Old Style,Bookman,Goudy Old Style,Garamond,Hoefler Text,Bitstream Charter,Georgia,serif;
}

button{
	position: fixed;
	top: 4%;
	right: 4%;
}