<html>
	<head>
	<title>About e-MAGINE</title>
	<link rel="stylesheet" href="../../static/frontend/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="../../static/frontend/css/aboutcss.css">
	</head>
	<body>
		<button type="button" class="btn btn-primary btn-lg" onclick="login()">
			<span class="glyphicon glyphicon-home"></span> Back
		</button>
		<h1>e-MAGINE</h1>
		<br>
		<p class="lead">
		e-MAGINE is an educational blogging/forum software developed by the Computer Science B.Tech Undergraduate students of IIT-Patna under the able guidance  
		of Dr. Samrat Mondal and Dr. Arijit Mondal.
		e-MAGINE provides a platform for professors to post educational articles and promote discussions among students which will promote quick and easy learning. 
		<br><br>
		The software also contains an Interactive Algorithm Simulator for better comprehension of Sorting and Graph algorithms.
		</p>
		<h2>Developers Team : </h2>
		<p class="lead">
		Aditya Gupta
		<br>
		Arindam Banerjee
		<br>
		Himanshu Garg
		<br>
		Padma Ram Meghwal
		<br>
		Shubham
		<br>
		Sumit Asthana
		</p>
		<script type="text/javascript">
		function login () {
			window.location.href = "/login/"
		}
		</script>
	</body>
</html>