<html>
<head>
<title>D:\uploadedFiles\2db3a951949af39d68a3141af6f0823-754ab968032153b\p19iu69edon31d3c5561lefs7m4.doc</title>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 31.0px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_1100:850" src="../../static/frontend/images/page_001.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_151:98" style="top:98;left:151">
<span id="_39.9" style=" font-family:Arial; font-size:39.9px; color:#538dd3">
e-MAGINE Sorting Simulator</span>
</div>
<div class="pos" id="_349:152" style="top:152;left:349">
<span id="_39.9" style=" font-family:Arial; font-size:39.9px; color:#538dd3">
Tutorial</span>
</div>
<div class="pos" id="_100:277" style="top:277;left:100">
<span id="_21.8" style=" font-family:Times New Roman; font-size:21.8px; color:#000000">
e-MAGINE software provides a platform to generate and view sorting</span>
</div>
<div class="pos" id="_100:306" style="top:306;left:100">
<span id="_21.8" style=" font-family:Times New Roman; font-size:21.8px; color:#000000">
algorithms, namely Bubble Sort, Insertion Sort, Selection Sort, Shell</span>
</div>
<div class="pos" id="_100:336" style="top:336;left:100">
<span id="_21.8" style=" font-family:Times New Roman; font-size:21.8px; color:#000000">
Sort and Quick Sort with interactive graphics.</span>
</div>
<div class="pos" id="_100:422" style="top:422;left:100">
<span id="_27.3" style="font-weight:bold; font-family:Times New Roman; font-size:27.3px; color:#000000">
How to Use<span style="font-weight:normal"> :</span></span>
</div>
<div class="pos" id="_100:473" style="top:473;left:100">
<span id="_21.8" style=" font-family:Times New Roman; font-size:21.8px; color:#000000">
Following is an example of Quick Sort Illustration. From the main</span>
</div>
<div class="pos" id="_100:502" style="top:502;left:100">
<span id="_21.8" style=" font-family:Times New Roman; font-size:21.8px; color:#000000">
illustration page,<span style="font-weight:bold"> select</span><span style="font-weight:bold"> Quick</span><span style="font-weight:bold"> Sort</span> from the Sorting section.</span>
</div>
<div class="pos" id="_100:915" style="top:915;left:100">
<span id="_21.8" style=" font-family:Times New Roman; font-size:21.8px; color:#000000">
Selecting Quick Sort will open the algorithm illustration page where the</span>
</div>
<div class="pos" id="_100:944" style="top:944;left:100">
<span id="_21.8" style=" font-family:Times New Roman; font-size:21.8px; color:#000000">
user can generate and view the Quick Sort Algorithm .</span>
</div>
<div class="pos" id="_0:0" style="top:1100">
<img name="_1100:850" src="../../static/frontend/images/page_002.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_100:1285" style="top:1285;left:100">
<span id="_27.1" style="font-weight:bold; font-family:Times New Roman; font-size:27.1px; color:#000000">
Get Started<span style="font-weight:normal"> :</span></span>
</div>
<div class="pos" id="_100:1378" style="top:1378;left:100">
<span id="_21.6" style=" font-family:Times New Roman; font-size:21.6px; color:#000000">
1. Provide a valid<span style="font-weight:bold"> space</span><span style="font-weight:bold"> separated</span><span style="font-weight:bold"> input</span> of integers, which you wish to</span>
</div>
<div class="pos" id="_100:1408" style="top:1408;left:100">
<span id="_21.6" style=" font-family:Times New Roman; font-size:21.6px; color:#000000">
sort in the area provided in the toolbar. The<span style="font-weight:bold"> maximum</span><span style="font-weight:bold"> limit</span><span style="font-weight:bold"> of</span><span style="font-weight:bold"> input</span> is</span>
</div>
<div class="pos" id="_100:1437" style="top:1437;left:100">
<span id="_21.6" style="font-weight:bold; font-family:Times New Roman; font-size:21.6px; color:#000000">
25<span style="font-weight:normal"> integers.</span></span>
</div>
<div class="pos" id="_100:1480" style="top:1480;left:100">
<span id="_21.6" style=" font-family:Times New Roman; font-size:21.6px; color:#000000">
2. Click the<span style="font-weight:bold"> Render</span> button to confirm input and form the sorting bars.</span>
</div>
<div class="pos" id="_100:1510" style="top:1510;left:100">
<span id="_21.6" style=" font-family:Times New Roman; font-size:21.6px; color:#000000">
Click the<span style="font-weight:bold"> Refresh</span> button to enter a fresh input.</span>
</div>
<div class="pos" id="_100:1972" style="top:1972;left:100">
<span id="_21.6" style=" font-family:Times New Roman; font-size:21.6px; color:#000000">
3. Clicking the Render button will generate the sorting bars and the</span>
</div>
<div class="pos" id="_100:2001" style="top:2001;left:100">
<span id="_21.6" style=" font-family:Times New Roman; font-size:21.6px; color:#000000">
animation play tools will become visible.</span>
</div>
<div class="pos" id="_0:0" style="top:2200">
<img name="_1100:850" src="../../static/frontend/images/page_003.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_100:2298" style="top:2298;left:100">
<span id="_21.7" style=" font-family:Times New Roman; font-size:21.7px; color:#000000">
4. Click the<span style="font-weight:bold"> Hide</span><span style="font-weight:bold"> Code</span> button, if you want to hide the pseudo code from</span>
</div>
<div class="pos" id="_100:2327" style="top:2327;left:100">
<span id="_21.7" style=" font-family:Times New Roman; font-size:21.7px; color:#000000">
the screen. Re-click the button the show the code back.</span>
</div>
<div class="pos" id="_100:2746" style="top:2746;left:100">
<span id="_21.7" style=" font-family:Times New Roman; font-size:21.7px; color:#000000">
The Simulation can be performed in either of the two modes :</span>
</div>
<div class="pos" id="_100:2789" style="top:2789;left:100">
<span id="_21.7" style=" font-family:Times New Roman; font-size:21.7px; color:#000000">
(a)<span style="font-weight:bold"> Running</span><span style="font-weight:bold"> Sort</span><span style="font-weight:bold"> Mode</span> :</span>
</div>
<div class="pos" id="_150:2832" style="top:2832;left:150">
<span id="_21.7" style=" font-family:Times New Roman; font-size:21.7px; color:#000000">
Click the<span style="font-weight:bold"> Play</span><span style="font-weight:bold"> Button</span> to start the sorting simulation. The Sorting</span>
</div>
<div class="pos" id="_150:2862" style="top:2862;left:150">
<span id="_21.7" style=" font-family:Times New Roman; font-size:21.7px; color:#000000">
Speed can be selected from the radio buttons available in the</span>
</div>
<div class="pos" id="_150:2891" style="top:2891;left:150">
<span id="_21.7" style=" font-family:Times New Roman; font-size:21.7px; color:#000000">
toolbar.</span>
</div>
<div class="pos" id="_0:0" style="top:3300">
<img name="_1100:850" src="../../static/frontend/images/page_004.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_150:3804" style="top:3804;left:150">
<span id="_21.9" style=" font-family:Times New Roman; font-size:21.9px; color:#000000">
The play button toggles between play/pause so that the simulation</span>
</div>
<div class="pos" id="_150:3833" style="top:3833;left:150">
<span id="_21.9" style=" font-family:Times New Roman; font-size:21.9px; color:#000000">
can be stopped anytime during the time sorting is going on. The</span>
</div>
<div class="pos" id="_150:3863" style="top:3863;left:150">
<span id="_21.9" style=" font-family:Times New Roman; font-size:21.9px; color:#000000">
speed of sorting can be adjusted after pausing the simulation.</span>
</div>
<div class="pos" id="_100:3949" style="top:3949;left:100">
<span id="_21.9" style=" font-family:Times New Roman; font-size:21.9px; color:#000000">
(b)<span style="font-weight:bold"> Step</span><span style="font-weight:bold"> Mode</span> :</span>
</div>
<div class="pos" id="_150:3993" style="top:3993;left:150">
<span id="_21.9" style=" font-family:Times New Roman; font-size:21.9px; color:#000000">
The Simulation can also be viewed in a step-wise manner using the</span>
</div>
<div class="pos" id="_150:4022" style="top:4022;left:150">
<span id="_21.9" style="font-weight:bold; font-family:Times New Roman; font-size:21.9px; color:#000000">
forward<span style="font-weight:normal"> and</span> backward<span style="font-weight:normal"> button</span><span style="font-weight:normal"> to</span><span style="font-weight:normal"> change</span><span style="font-weight:normal"> the</span><span style="font-weight:normal"> steps</span><span style="font-weight:normal"> or</span><span style="font-weight:normal"> directly</span></span>
</div>
<div class="pos" id="_150:4051" style="top:4051;left:150">
<span id="_21.9" style=" font-family:Times New Roman; font-size:21.9px; color:#000000">
jump on a step by specifying the step no. in the box provided and</span>
</div>
<div class="pos" id="_150:4081" style="top:4081;left:150">
<span id="_21.9" style=" font-family:Times New Roman; font-size:21.9px; color:#000000">
hitting the<span style="font-weight:bold"> step</span><span style="font-weight:bold"> button</span> . In this mode, automatic sorting will not</span>
</div>
<div class="pos" id="_150:4110" style="top:4110;left:150">
<span id="_21.9" style=" font-family:Times New Roman; font-size:21.9px; color:#000000">
take place, but the intermediate sorting steps will be shown as per</span>
</div>
<div class="pos" id="_150:4140" style="top:4140;left:150">
<span id="_21.9" style=" font-family:Times New Roman; font-size:21.9px; color:#000000">
the user's wish. The first sorting step is defined as<span style="font-weight:bold"> 0</span><span style="font-weight:bold"> step</span> .</span>
</div>
<div class="pos" id="_0:0" style="top:4400">
<img name="_1100:850" src="../../static/frontend/images/page_005.jpg" height="1100" width="850" border="0" usemap="#Map"></div>
<div class="pos" id="_100:4874" style="top:4874;left:100">
<span id="_21.7" style=" font-family:Times New Roman; font-size:21.7px; color:#000000">
**<span style="font-weight:bold"> NOTE</span> **</span>
</div>
<div class="pos" id="_100:4918" style="top:4918;left:100">
<span id="_21.7" style=" font-family:Times New Roman; font-size:21.7px; color:#000000">
The two modes cannot be performed simultaneously. In case the user</span>
</div>
<div class="pos" id="_100:4947" style="top:4947;left:100">
<span id="_21.7" style=" font-family:Times New Roman; font-size:21.7px; color:#000000">
wishes to switch mode, a fresh input has to provided by manually</span>
</div>
<div class="pos" id="_100:4977" style="top:4977;left:100">
<span id="_21.7" style=" font-family:Times New Roman; font-size:21.7px; color:#000000">
refreshing the illustration page.</span>
</div>
</nowrap></nobr>
</body>
</html>
