{% extends "Article/header.html" %}

{% block content %}

	{% if post.key %}
	<div class="container" style="width: 55%;margin-left: 60px;margin-top: 20px; background: #ffffff;border-radius:2px;">
		<h3 style="color: #33b5e5;">{{post.title}}</h2>
			<div class="row">
				<div class="group1 col-sm-6 col-md-6">
					<span class="glyphicon glyphicon-pencil"></span>{{post.author}}
				</div>
				<div class="group2 col-sm-6 col-md-6">
					<span class="glyphicon glyphicon-time"></span>{{post.date}}
				</div>
			<br>
			</div>
                    {% if key %}
                    	<form action="/load/{{post.id}}/" method="post">
                    		<textarea id = "pst" name="edit_post" rows="8" cols="60">{{post.body}}</textarea>
                    		<input type="submit" name="submit" value="SAVE">
                    	</form>
                    {% else %}
			<hr>
			<p class="lead">{{post.body}}</p>
			<hr>	
                    {% endif %}				
               <div class="row" style="padding-bottom: 10px;">
			<form action="" id="page_form" method="post">{% csrf_token %}
			<div class="group1 col-sm-6 col-md-6">
				<span class="glyphicon glyphicon-comment" style="color: #33b5e5;"></span><a href="#">{{num_comm}}</a>
				<span class="glyphicon glyphicon-thumbs-up" style="color: #33b5e5; padding-left: 5px;"></span><a href="#">{{likes}}</a>
			</div>
			{% if user_permission >= 0 %}
			<div class="group1 col-sm-6 col-md-6">
				{% if like == "like" %}	
				<input class="btn btn-info btn-sm" type = "submit" name = "like" value = "LIKE" id="id_like">
				{% endif %}
				{% if like == "unlike"%}
				<input class="btn btn-info btn-sm" type = "submit" name = "unlike" value = "UNLIKE" id="id_unlike">	
				{% endif %}					
				{% if key1 %}
					<input class="btn btn-info btn-sm" type="submit" Onclick="return clicked()" name = "delete" value="DELETE" id="delete" >
					<input class="btn btn-info btn-sm" type="submit" name = "edit" value="EDIT" id="edit" >
				{% endif %}
			</div>
			{% endif %}
			<div class="group2" style="padding-right: 20px;float:right;margin-top: 1%;">
				{% if post.doc %}
					<span class="glyphicon glyphicon-paperclip" style="color: #33b5e5;"></span><a href="{{ post.doc.url}}">View Attachment</a>
				{% endif %}
			</div>
			</form>
		</div>
	</div>
		{% for comment in comments %}
			<div class="container" style="background: #ffffff; width: 37%;margin-left: 60px; margin-top: 20px;">
			<div class="row" style="padding-top: 3px;"> 
				<div class="group1 col-sm-6 col-md-6" style="color: #33b5e5">
					<span class="glyphicon glyphicon-user"></span>{{comment.author}}
				</div>
				<div class="group2 col-sm-6 col-md-6" style="color: #7e7e7e">
					<span class="glyphicon glyphicon-time"></span>{{comment.date}}
				</div>
			</div>
			<hr>
			<p>{{comment.comment}}</p>
		</div>
		{% endfor %}
	{% if user_permission >= 0 %}
		<form role="form" action="" method="post" class="form-horizontal">
			<div class="row" style="margin-left: 55px;margin-top: 20px;">
			<div class="form-group col-sm-5">
				<label class="control-label" for="post">Comment:</label>
					<div>
						<textarea class="form-control col-sm-5" name="comments" placeholder="Comment" rows="2" cols="8" required="required"></textarea>
					</div>
			</div>
			</div>
			<div class="row" style="margin-left: 4%;">
			<div class="form-group col-sm-5">
				<div>
					<input type="submit" class="btn btn-primary btn-block" name="submit" value="Add Comment">
				</div>
			</div>
			</div>
		</form>
		<script type="text/javascript">
			function clicked() {
				if (confirm('Are you sure?')){
					return true;	
				}
				else{
					return false;
				}
			}
		</script>
	{% endif %}
	{% else %}
		<div>This article is deleted by the author</div>
	{% endif %}
{% endblock %}
